.fade-enter-active, .fade-leave-active
  transition opacity 0.5s
.fade-enter-from, .fade-leave-to
  opacity 0
.fade-enter-to, .fade-leave-from
  opacity 1

.fade-delay-enter-active
  transition opacity 0.5s
  transition-delay: 0.5s
.fade-delay-leave-active
  transition opacity 0.5s
.fade-delay-enter-from, .fade-delay-leave-to
  opacity 0
.fade-delay-enter-to, .fade-delay-leave-from
  opacity 1
